.movies-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 32px 28px;
  padding: 0;
  justify-content: center;
  margin: 70px 0 0;
}

@media screen and (max-width: 850px) {
  .movies-list {
    grid-template-columns: repeat(auto-fill, 342px);
    gap: 35px 24px;
  }
}

@media screen and (max-width: 500px) {
  .movies-list {
    grid-template-columns: 300px;
    row-gap: 16px;
    margin-top: 40px;
  }
}
