.movies-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 32px 28px;
  padding: 0;
  margin: 70px 0 0;
  justify-content: center;
}

.another-button {
  height: 36px;
  width: 100%;
  border-radius: 6px;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  color: #000;
  padding: 0;
  margin: 60px 0 98px;
}

.another-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .movies-list {
    grid-template-columns: repeat(auto-fill, 342px);
    gap: 35px 24px;
  }
}

@media screen and (max-width: 500px) {
  .movies-list {
    grid-template-columns: 300px;
    row-gap: 16px;
    margin-top: 40px;
  }
}
